<h1 class="text-center">Drivers And Cars Page</h1>
<div class="row text-center">  
  <div class="col-6">
    <h2>Cars</h2>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Type</th>
          <th scope="col">Color</th>
          <th scope="col">Drivers</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
    
      <tbody>
        <% @cars.each do |car| %>
          <tr>
            <td scope="row"><%= car.title %></td>
            <td><%= car.car_type %></td>
            <td><%= car.color %></td>
            <td><%= car.drivers.map {|d| d.name}.join(', ') %></td>
            <td><%= link_to 'Show', car_path(car), class: "btn btn-info" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    
  <div class="col-6">
    <h2>Drivers</h2>
    <drivers :drivers="<%= @drivers %>"></drivers>
  </div>
</div>

<hr>

<div class="row text-center">
  <div class="col-4 ml-auto mr-auto">
    <d-c-form :drivers="<%= @drivers %>" :cars="<%= @cars_json %>"></d-c-form>
  </div>
</div>
