<div class="row text-center">
  <div class="col">
    <h1>Search Result</h1>
    
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Created At</th>
        </tr>
      </thead>

      <tbody>
        <% if !@cars.blank? %>
          <h2>All Cars For - <%= @driver.name %></h2>
          <% @cars.each do |car| %>
            <tr>
              <td scope="row"><%= @driver.id %></td>
              <td><%= car.title %></td>
              <td><%= car.created_at %></td>
            </tr>
          <% end %>
        <% end %>
        <% if !@drivers.blank? %>
          <h2>All Drivers For - <%= @car.title %></h2>
          <% @drivers.each do |driver| %>
            <tr>
              <td scope="row"><%= driver.id %></td>
              <td><%= driver.name %></td>
              <td><%= @car.created_at %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    
    <br>
    <%= link_to 'Back', driversandcars_path %>
  </div>
</div>