<div class="row text-center">
  <div class="col">
    <h1 class="title">Cars Table</h1>
    
    <%= link_to 'New Car', new_car_path, class:"btn btn-primary d-block ml-auto mb-3 listing-new-btn" %>
    <br>
    
    <table class="table" id="cars">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Type</th>
          <th scope="col">Color</th>
          <th scope="col">Drivers</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
    
      <tbody>
        <% @cars.each do |car| %>
          <tr>
            <td scope="row"><%= car.title %></td>
            <td><%= car.car_type %></td>
            <td><%= car.color %></td>
            <td><%= car.drivers.map {|d| d.name}.join(', ') %></td>
            <td><%= link_to 'Show', car_path(car), class: "btn btn-info" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>