<% if @car.car_image.attached? %>
  <img src="<%= (url_for(@car.car_image)) %>">
<% end %>

<p>
  <strong>Title:</strong>
  <%= @car.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @car.car_type %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<%= link_to 'Back', cars_path %>